//
   Created by luisoliveiras on 5/15/2016.

extends ../layout/layout
block content
   div.row
      h2 Adicionar nova unidade
      div.col-sm-6
         form(method="POST", action="/unit/new" )
            .form-group
               label(for='name') Nome
               input.form-control(name='name', placeholder='Nome', type='text', maxlength='45', pattern='.{3,45}')
            .form-group
               label(for='description') Descrição
               input.form-control(name='description', placeholder='Descrição', type='text', patern='.{3,45}')

            button.btn.btn-default Salvar