//
   Created by luisoliveiras on 5/15/2016.

extends ../layout/layout
block content
   h1 Unidades e Centros
     
   div.col-md-10
      dl.dl-horizontal
         dt Nome:
         dd=viewUnit.name
         dt Descrição:
         dd=viewUnit.description
