//
   Created by luisoliveiras on 5/9/2016.

extends ../layout/layout
block content
   h1 Categorias de postagem
     
   div.col-md-10
      dl.dl-horizontal
         dt Nome:
         dd=viewCategory.name
         dt Descrição:
         dd=viewCategory.description
