hr {
    background-color: #ccc;
    border-top-color: #ccc;
}

.pointer {
    cursor: pointer;
}

.posts>.panel>.panel-heading {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.posts>.panel>.panel-heading .panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    width: 90%;
}

.panel-heading>.likes {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.posts>.panel>.panel-body>p {
    max-width: 100%;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 7.5em;
}

#tagcloud {
    width: 80%;
    height: 240px;
}

.post-preview {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-preview img {
    max-height: 3em;
    max-width: 3em;
}