//
   Created by urielbertoche on 5/10/2016.

extends ../layout/layout
block content
   h2 Adicionar novo usuário
   div.col-sm-6
      form(method="POST", action="/user/new")
         .form-group
            label(for='name') Nome
            input.form-control(name='name', placeholder='Nome', type='text', maxlength='30', pattern='[A-Za-z ].{3,}')
         .form-group
            label(for='email') Email
            input.form-control(name='email', placeholder='Email', type='email', patern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$')
         .form-group
            label(for='password') Senha
            input.form-control(name='password', placeholder='Senha', type='password', pattern='[A-Za-z0-9].{6,}', title='Deve conter pelo menos 6 caracteres não especiais- letras ou numeros')
         .form-group
            label(for='password2') Confirmação de senha
            input.form-control(name='password2', placeholder='Senha', type='password')

         button.btn.btn-default Salvar