//
   Created by urielbertoche on 5/10/2016.

extends ../layout/layout
block content
   div.row
      h2 Adicionar novo usuário
      div.col-sm-12
         dl
            dt Nome
            dd
               input
            dt Email
            dd
               input
            dt Senha
            dd
               input
            dt
            dd
               button.btn.btn-default Salvar