//
   Created by urielbertoche on 5/9/16.

extends ../layout/layout

block content
    h2 Lista de usuários
    div.col-sm-12
      table.table
        thead
          td Nome
          td E-mail
          td Facebook ID
          td Ações
        each user, key in users
          tr
            td=user.name
            td=user.email
            td=user.facebookId
            td
              a.btn.btn-default.btn-xs(href='/user/view/' + user.id)
                i.glyphicon.glyphicon-pencil

      .row
        .col-md-12
          a.btn.btn-default(href='/user/new') Adicionar novo