extends layout/layout

block content
    .row-fluid
        div.col-sm-8.posts
            h1 Postagens recentes
            each post, key in posts
                .panel.panel-primary.post
                    .panel-heading
                        =((post.title.length > 0) ? post.title : "Sem título")
                    .panel-body
                        p=(post.message.length > 0) ? post.message : "Sem texto da mensagem"
                        small.pull-left
                            a(href='/post/view/' + post._id) Ver mais
                        small.pull-right
                            if (post.comments.length == 0)
                                | Nenhum comentário
                            else if (post.comments.length == 1)
                                | 1 Comentário
                            else
                                span.contador=post.comments.length
                                | &nbsp;comentários


        div.col-sm-4
            h1 Tagcloud
            #tagcloud

    script(type='text/javascript').
        var words=!{JSON.stringify(words || [])};

        $(function () {
            $("#tagcloud").jQCloud(words, {
                autoResize: true,
                fontSize: {
                    from: 0.1,
                    to: 0.05
                }
            });
        });